<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SqlServer" value="127.0.0.1" />
		<add key="SqlUsername" value="el-bot" />
		<add key="SqlPassword" value="password" />
		<add key="SqlDatabase" value="el-bot" />
		<add key="SqlPort" value="3306" />
		<add key="BotID" value="1" />
		<add key="LoginName" value="testbot" />
		<add key="LoginPassword" value="thetestbot" />
		<add key="AutoConnect" value="true" />
		<add key="AutoReconnect" value="true" />
		<add key="ServerHostName" value="game.eternal-lands.com" />
		<add key="ServerPort" value="2001" />
		<add key="IsTradeBot" value="true" />
		<add key="TradeTimeOut" value="90" />
		<add key="GuildFeedGossip" value="false" />
		<add key="DebugingToFile" value="true" />
		<add key="EventLogToFile" value="true" />
		<add key="ChatLogToFile" value="true" />
		<add key="PMLogToFile" value="true" />
		<add key="EnableDebuging" value="false" />
		<add key="LogGotPM" value="true" />
		<add key="LogSendPM" value="true" />
		<add key="LogGlobalMessage" value="true" />
		<add key="LogGossipFeed" value="false" />
	</appSettings>
</configuration>
